@font-face {
  font-family: "Impress";
  src: url('./Assets/fonts/Impress.ttf') format("truetype-variations");
  font-weight: 1 999;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mickey";
  src: url("./Assets/fonts/MICKEY.TTF");
  font-weight: 500;
}


.secondary-font {
  font-family: "Mickey";
  color: rgb(229,190, 112);
  font-size: 28px
}
* {
  background-color: rgb(15, 4, 22);
  color: rgb(255, 255, 255);
  font-family: "Impress";
}
.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.simple-side-space {
  display:flex;
  justify-content:space-around;
  padding: 30px
}

.centered {
  align-self: center;
}

.expandable {
  overflow: hidden;
  height: inherit; /*percentages dont work, and neither does auto. vh, px, rem are required.*/
  transition: height 2s;
  display: block;
}

.expandable.collapsed {
  height: 0px;
}

.fit-content {
  max-width: 20vw;
}

.fit-content-double {
  max-width: 40vw;
  display: inline-flex;
}

.navbar-split {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bordered {
  border-radius: 5px;
  border-style: solid;
  border-color: white;
  width: 40px;
  height: 40px;
  border-width: 4px;
}

.row-split {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.button-pop {
  transition: transform 0.5s;
  background-color: transparent;
}

.button-pop:hover {
  transform: scale(1.15)
}